/* Input Field Label on Top */
.input-container {
    position: relative;
    padding-bottom: 20px;
}

.input-container label {
    position: absolute;
    top: -7px;
    left: 20px;
    font-size: 12px;
    background-color: white;
    padding: 0 10px;
}

.invalid-feedback {
    font-size: 10px;
    position: absolute;
}
/* Input Field Label on Top */